<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>红火车左.png</string>
	<string>红火车右.png</string>
	<string>红火车上.png</string>
	<string>红火车下.png</string>
	<string>井.png</string>
	<string>树1+.png</string>
	<string>树1.png</string>
	<string>树2.png</string>
	<string>起点.png</string>
	<string>终点.png</string>
	<string>rail-down-left1.png</string>
	<string>rail-down-right1.png</string>
	<string>rail-left-right1.png</string>
	<string>rail-up-down1.png</string>
	<string>rail-up-left1.png</string>
	<string>rail-up-right1.png</string>
	<string>蓝火车上.png</string>
	<string>蓝火车下.png</string>
	<string>蓝火车左.png</string>
	<string>蓝火车右.png</string>
	<string>草地.png</string>
	<string>暂停背景.png</string>
	<string>关闭.png</string>
	<string>开始.png</string>
	<string>列表菜单.png</string>
	<string>铺设铁轨.png</string>
	<string>删除铁轨.png</string>
	<string>上一页.png</string>
	<string>设置.png</string>
	<string>收藏.png</string>
	<string>收集.png</string>
	<string>下一页.png</string>
	<string>暂停.png</string>
	<string>暂停背景.png</string>
	<string>重新游戏.png</string>
	<string>主页.png</string>
	<string>exit.png</string>
	<string>return.png</string>
	<string>setting.png</string>
	<string>skin.png</string>
	<string>start.png</string>
	<string>地图标志.png</string>
	<string>中国.png</string>
	<string>安徽.png</string>
	<string>北京.png</string>
	<string>重庆.png</string>
	<string>福建.png</string>
	<string>甘肃.png</string>
	<string>广东.png</string>
	<string>广西.png</string>
	<string>贵州.png</string>
	<string>河南.png</string>
	<string>河北.png</string>
	<string>海南.png</string>
	<string>黑龙江.png</string>
	<string>湖北.png</string>
	<string>湖南.png</string>
	<string>吉林.png</string>
	<string>江苏.png</string>
	<string>江西.png</string>
	<string>辽宁.png</string>
	<string>内蒙古.png</string>
	<string>宁夏.png</string>
	<string>青海.png</string>
	<string>山东.png</string>
	<string>山西.png</string>
	<string>陕西.png</string>
	<string>上海.png</string>
	<string>四川.png</string>
	<string>台湾.png</string>
	<string>天津.png</string>
	<string>西藏.png</string>
	<string>新疆.png</string>
	<string>香港.png</string>
	<string>云南.png</string>
	<string>浙江.png</string>
</array>
</plist>
