<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>广东</key>
	<array>
		<integer>194</integer>
		<integer>-259</integer>
	</array>
	<key>海南</key>
	<array>
		<real>128.5</real>
		<real>-332.5</real>
	</array>
	<key>台湾</key>
	<array>
		<integer>325</integer>
		<integer>-230</integer>
	</array>
</dict>
</plist>
