<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>pb.png</string>
	<string>panda.png</string>
	<string>button.png</string>
	<string>panda.png</string>
	<string>Icon.png</string>
	<string>Icon-Small.png</string>
	<string>button.png</string>
</array>
</plist>
